<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-left-nav></app-left-nav>
        </div>
        <div class="col-md-10">
            <div>
                <div class="alert alert-success" role="alert" *ngIf="showUserDeleted">
                    User Deleted
                </div>

                <h3> Users </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index">
                            <th scope="row"><input type="checkbox" (change)="selectRow($event, user)" /></th>
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td><input class="btn btn-info" type="button" value="Details"
                                    (click)="redirectToDetail(user.id)"></td>
                            <td><input class="btn btn-info" type="button" value="Edit" (click)="getUserById(user.id)">
                            </td>
                            <td><input class="btn btn-info" type="button" value="Delete" (click)="deleteUser(user.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <app-user-card [users]="selectedUserRows"></app-user-card>

            </div>

            <input type="button" value="Add User" (click)="showAddUserForm()" />
            <br />
            <div *ngIf="isShowAddUserForm">
                <fieldset>
                    <legend>User Add</legend>
                    <form [formGroup]="userAddForm">
                        <div class="alert alert-success" role="alert" *ngIf="showUserAdded">
                            User Added
                        </div>

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" formControlName="name" class="form-control" id="name">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="userAddForm.controls.name.invalid && (userAddForm.controls.name.dirty || userAddForm.controls.name.touched)">
                                <span *ngIf="userAddForm.controls.name.errors?.required">name is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="job">Job:</label>
                            <input type="text" formControlName="job" class="form-control" id="job">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="userAddForm.controls.job.invalid && (userAddForm.controls.job.dirty || userAddForm.controls.job.touched)">
                                <span *ngIf="userAddForm.controls.job.errors?.required">job is required</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="addUser()">Add</button>
                    </form>
                </fieldset>
            </div>

            <div *ngIf="isShowEditUserForm">
                <fieldset>
                    <legend>User Update</legend>
                    <form [formGroup]="userEditForm">
                        <div class="alert alert-success" role="alert" *ngIf="showUserUpdated">
                            User Updated
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" formControlName="name" class="form-control" id="name">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="userEditForm.controls.name.invalid && (userEditForm.controls.name.dirty || userEditForm.controls.name.touched)">
                                <span *ngIf="userEditForm.controls.name.errors?.required">name is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="job">Job:</label>
                            <input type="text" formControlName="job" class="form-control" id="job">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="userEditForm.controls.job.invalid && (userEditForm.controls.job.dirty || userEditForm.controls.job.touched)">
                                <span *ngIf="userEditForm.controls.job.errors?.required">job is required</span>
                            </div>
                        </div>
                        <input type="hidden" formControlName="id" />
                        <button type="button" class="btn btn-primary" (click)="updateUser($event)">Update</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>