<form [formGroup]="loginForm">
    <h3>Login</h3>
    <div class="alert alert-info" role="alert">
Login with Email: admin@admin.com & Password: admin@12345
</div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
        <div class="alert alert-danger" role="alert"
            *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
            <span *ngIf="loginForm.controls.email.errors?.required">Email is required</span>
            <span *ngIf="loginForm.controls.email.errors?.email">Invalid Email Address</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
        <div class="alert alert-danger" role="alert"
            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            <span *ngIf="loginForm.controls.password.errors?.required">password is required</span>
            <span *ngIf="loginForm.controls.password.errors?.min">Enter greater than 10</span>
            <span *ngIf="loginForm.controls.password.errors?.max">Enter less than 20</span>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="loginUser()">Login</button>
</form>